.navbar{
    
    background: #0daee8;
    background: linear-gradient(90deg,rgb(160, 30, 145) 0%,rgb(98, 220, 236)100%);
    
    
}
.table{
    
    background: #e80dcb;
    background: linear-gradient(90deg,rgb(30, 160, 112) 0%,rgb(98, 220, 236)100%);
    
}