<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Aadhar ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>moblie</th>
          <th>Address</th>
          <th>DateOfBirth</th>
          <th>IsuueDate</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.address}}</td>
          <td>{{user.dob}}</td>
          <td>{{user.dor}}</td>
          <td>Approved</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
